/* body{
	background-color: #FBEEE6; 
} */

body {
  background: linear-gradient(-45deg, #EBC5B6, #F5F0EE);
}


h1{
	color: black;
	padding-left: 30px; 
	padding-top: 20px

}



p{
 
	font: sans-serif;
	text-align: left;
	font-size: 20px; 
}

.p1{ 
	font: sans-serif;
	float: right;
	font-size: 15px; 
	padding-left: 40%;
}

a-box{
	border-radius: 10px;
	color: red; 
} 


.haikei {
background-color:#FBEEE6;
}

.sample-box{
      width:75%;
      height:500px;
      /* background:#ced; */
      border:3px dashed #3081F8;
      border-radius: 10px;
      padding-left: 10%;
      padding-top: 120px;  
      /*float: left; 
      /*background-color: #FFFDFD; */
      }

.sample-box2{
	/*padding-left: 500px; */
    width:75%;
    height:500px;
    /* background:#ced; */
    border:3px dashed #3081F8;
    border-radius: 10px;
    padding-left: 10%; 
    padding-top: 20px; 
	/*float: right;
	/*background-color: #FBEEE6;  */ 
    }


/* .boxinbox{
	border:3px dashed black;
	padding-top: 10%;
	padding-left: 10%; 
	position: absolute; top: 350px; left:60px; 
	width: 75px;
	height: 75px;

} */ 

/*img{
	height: 450px; 
	width: 600px; 
	border-radius: 8px;
	border: 1px dashed #ddd;
} */

.photo{
	height: 100px; 
	width: 100px; 
	border-radius: 8px;
	border: 1px dashed #ddd;
}

.picture{
	height: 100px; 
	width: 100px; 
	position: absolute; top: 470px;  left: 350px 
}

.mitou-group{
	position: absolute; top: 200px; left:30px;
}
#profile{
	height: 300px; 
	width: 300px; 
	position: absolute; top: 0px; left:0px;   
	border-radius: 8px;
	border: 1px dashed #ddd; 
} 

#food{
	height: 150px; 
	width: 150px;
	position: absolute; top: 250px;   
}

#fll{
	height: 150px; 
	width: 200px; 
	position: absolute; top: 250px;  left: 300px 
}

#food2{
	height: 150px; 
	width: 150px; 
	position: absolute; top: 250px;  left: 550px 
}
#cello2{
	height: 150px; 
	width: 150px; 
	position: absolute; top: 250px;  left: 750px 
}
#light{
	height: 150px; 
	width: 150px; 
	position: absolute; top: 250px;  left: 950px 
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 10px;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

hr{
	padding: 1px;

}




